# Dependencias
node_modules/
backend/node_modules/
frontend/node_modules/

# Configuracion y Secretos
.env
.env.jira

# Base de datos local
mysql_data/

# Compilacion y temporales
dist/
build/
.DS_Store
*.log
backend/scratch/

# Convenios generados y scripts de verificacion
convenios/*.pdf
check_*.js

# Archivos de despliegue temporales
backend.tar.gz
backend/.env
frontend/.env

# n8n
n8n-data.tar.gz
backend/n8n/
